body {
    font-family: Arial, sans-serif;
    background: linear-gradient #b669f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    background-color: #b669f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #e0b1ff;
    text-align: center;
    max-width: 500px;
    width: 100%;
    position: relative;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}

p {
    font-size: 16px;
    margin: 10px 0;
    color: #000000;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #00aeff;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient #ffffff;
    color: #131212;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: linear-gradient( #ffffff, #ffffff);
}

#message {
    font-weight: bold;
    margin-top: 20px;
}





@media (max-width: 700px) {
    .container {
      width: 80%;
      max-width: inherit;
    }
    img{
        display: none;
    }
  }
